body{
    padding: 0;
    margin: 0;
}

/* Logo css  */
.navbar-brand img{
    height: 50px;
}

/* hero figure css  */
.hero-figure .row .col-md-6{
    margin: auto;
}

.hero-figure img{
    height: 400px;
}